table.packages thead tr,
table.packages tbody tr {
  line-height: 3rem;
}

table.packages thead tr th,
table.packages tbody tr td {
  padding: 0;
}

table.packages thead tr th.package-type,
table.packages tbody tr td.package-type {
  text-align: left;
  width: 25%;
}

table.packages thead tr th.package-name,
table.packages tbody tr td.package-name {
  white-space: nowrap;
  text-align: left;
  width: 35%;
}

table.packages thead tr th.package-checksum,
table.packages tbody tr td.package-checksum {
  text-align: left;
  width: 30%;
}

table.packages thead tr th.package-download,
table.packages tbody tr td.package-download {
  text-align: center;
  width: 10%;
}

table.packages tbody tr td img {
  margin-bottom: 0;
}

ul.accordion-list {
  list-style: none;
}

ul.accordion-list li {
  display: block;
}

ul.accordion-list li::before {
  content: '';
}

div.package-version {
  font-size: 17px;
}
