a.external {
  background: url(../images/external-link.png) right center no-repeat;
  padding-right: 12px;
  position: relative;
}

a.mailto {
  background: url(../images/external-mail.png) right center no-repeat;
  padding-right: 12px;
}

/* Hide link or mailto icons when printing. */
@media print {
  a.external, a.external {
    background-image: none;
    padding: 0;
  }
}
