table#mbrola_voices {
  margin-bottom: 1rem;
  width: 100%;
}

#mbrola_voices thead tr th,
#mbrola_voices tbody tr td {
  white-space: nowrap;
}

#mbrola_voices thead tr th.name {
  width: 5%;
  text-align: center;
}

#mbrola_voices thead tr th.language {
  width: 45%;
  text-align: center;
}

#mbrola_voices thead tr th.availability {
  width: 25%;
  text-align: left;
}

#mbrola_voices tbody tr td.availability {
  text-align: left;
  padding-left: 10px;
  text-align: left;
}

#mbrola_voices thead tr th.package {
  width: 25%;
  text-align: center;
}

.content img {
  margin-bottom: 0;
}
