h2.iitem-heading {
  text-align: center;
}

.iitem:hover .iitem-icon-bg {
  opacity: 1;
}

div.iitem-icon {
  width: 190px;
  height: 190px;
}

div.iitem-icon img {
  opacity: 0.8;
  filter: grayscale(40%);
}

div.iitem-icon-bg img {
  width: 192px;
  height: 192px;
  min-width: 192px;
  min-height: 192px;
}

.content img {
  margin: 0;
}
