@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
/*  src: local('Architects Daughter'), local('ArchitectsDaughter'), url(https://themes.googleusercontent.com/static/fonts/architectsdaughter/v3/RXTgOOQ9AAtaVOHxx0IUBOlC2pU_uJZcAXPUd4HCQp8.ttf) format('truetype'); */
  src: local('Architects Daughter'), local('ArchitectsDaughter'), url(architectsduaghter.ttf) format('truetype');
}
