#main-content.article {
  width: 940px;
  margin: 0px auto;
  float: none;
}

.warning,
.warning-it {
  background: #F5FC60;
  padding: 5px 10px;
  border: 1px solid #ebebeb;
}

.warning:before {
  content: "WARNING!";
  color: #ED3449;
  display: block;
  font-weight: bold;
}

.warning-it:before {
  content: "ATTENZIONE!";
  color: #ED3449;
  display: block;
  font-weight: bold;
}

.tip,
.tip-it {
  background: #60A0F0;
  padding: 5px 10px;
  border: 1px solid #ebebeb;
  color: #222222
}

.tip:before {
  content: "TIP!";
  color: #ED3449;
  display: block;
  font-weight: bold;
}

.tip-it:before {
  content: "SUGGERIMENTO!";
  color: #ED3449;
  display: block;
  font-weight: bold;
}

.title {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 46px;
  letter-spacing: -1px;
  color: #474747;
} 
