.full-width {
  width:100%;
}

.product-column {
  width:300px;
}

.product {
  float:left;
  min-height:1px;
}

.products-table>.product>div {
  padding:16px 30px 6px;
  text-align:center;
  vertical-align:top;
}

.products-table>.product>div>a img,
.products-table>.product>div>span img {
  display:inline-block;
  *display:inline;
  height:128px;
  width:128px;
  *zoom:1;
  margin-bottom:6px;
}
.products-table>.product>div>a h4 {
  margin:4px 0 12px;
}

.product-name {
  margin:0 0 12px;
  font-size:18px;
}
